<a href="https://colab.research.google.com/github/mariusbiteau/Ecommerce-Customer-Segmentation/blob/main/EDA_Ecommerce_Customer_Segmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = None
import math
import json
import matplotlib.mlab as mlab
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('default')
import folium
from google.colab import drive

## 1. Data Import

In [2]:
drive.mount('/content/drive')


# Infos sur la géolocalisation
geo = '/content/drive/My Drive/OC_DataScientist/P5/olist_geolocation_dataset.csv'
geo = pd.read_csv(geo)
# Infos sur les payments
payments = '/content/drive/My Drive/OC_DataScientist/P5/olist_order_payments_dataset.csv'
payments = pd.read_csv(payments)
# Infos sur les achats
orders = '/content/drive/My Drive/OC_DataScientist/P5/olist_orders_dataset.csv'
orders = pd.read_csv(orders)
# Infos sur les produits
products = '/content/drive/My Drive/OC_DataScientist/P5/olist_products_dataset.csv'
products = pd.read_csv(products)
# Infos sur les vendeurs
sellers = '/content/drive/My Drive/OC_DataScientist/P5/olist_sellers_dataset.csv'
sellers = pd.read_csv(sellers)
# Infos sur les clients
customers = '/content/drive/My Drive/OC_DataScientist/P5/olist_customers_dataset.csv'
customers = pd.read_csv(customers)
# Infos sur l'évaluation des produits
reviews = '/content/drive/My Drive/OC_DataScientist/P5/olist_order_reviews_dataset.csv'
reviews = pd.read_csv(reviews)
# Infos sur les items
items = '/content/drive/My Drive/OC_DataScientist/P5/olist_order_items_dataset.csv'
items = pd.read_csv(items)
# Infos sur les catégories des produits
category = '/content/drive/My Drive/OC_DataScientist/P5/product_category_name_translation.csv'
category = pd.read_csv(category)

Mounted at /content/drive

In [3]:
geo

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS